﻿[type="checkbox"].filled-in:checked + span:not(.lever):after{
    border: 2px solid #ff9800;
    background-color: #ff9800;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ff9800;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: black;
}

input, textarea, select, button {
    color: white;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff9800;
    box-shadow: 0 1px 0 0 #ff9800;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #ff9800 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}

path {
  pointer-events: all;
}


.table > tbody > tr > td {
    vertical-align: middle;
}

.content {
    margin-bottom: 100px;
}

.hovered:hover {
    color:#ddd;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container-full {
    width:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    border:none;
}

.navbar a {
    color:#fff;
}

.navbar a:hover {
    color:#fff;
    background-color:#fff;  
}

.text-justify {
    text-align:justify;
}

.white-text, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.in {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.video{
	margin-bottom:14px;
	width:100%;
}
.video-box{
	height:220px;
	width:391px;
	position:relative;
}

.video-thumbnail{
	z-index:300;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.video-frame{
	z-index:100;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.thumbnail-link .video-thumbnail{
	display:block;
}

.thumbnail-link:hover .video-thumbnail{
	display:none;
}

a {
    color: #5bc0de;
}

.bold {
    font-weight: bold
}
.indent{
    margin-left: 30px;
}

.photo-galerie {
    border: 3px solid #666
}

#btn-cas{
    color: #000;
    background-color: rgb(255, 199, 0);
    margin: 0 10px 0 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#btn-cas:hover{
    background-color: rgba(255, 200, 0, 0.87);
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.full-width {
    width: 100%;
}

.push-bot-10 {
    margin-bottom: 10px;
}